<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BusinessLogicLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EventsBLTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ScheduleBLTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>992527BD1DE1D1A300A49C12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992527C61DE1D1A300A49C12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992FDD171DE7202700B52644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992FDD261DE7204100B52644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
