<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventsDAOTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PersistenceLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ScheduleDAOTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>992527E11DE1D1B200A49C12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992527EA1DE1D1B200A49C12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992FDCE61DE6D5A800B52644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992FDCFC1DE6E62E00B52644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
